@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    position: fixed; 
    width: 270px;
    background-color: rgba(0, 0, 0, 0.2);
}
.title {
    padding: 20px;
    font-weight: 200;
}
.menu {
    height: calc(100vh - 73px); 
    overflow-y: scroll;
    list-style: none;
}
.menu-item .nav-link {
    display: block;
    border-top: 1px solid black;
    padding: 15px;
}
.sub-menu {
    display: none;
}
.menu-item:hover .sub-menu {
    display: block;
    background-color: rgba(0, 0, 0, 0.22);
}
.menu-item:hover .sub-menu-item .nav-link {
    padding-left: 35px;
}
.nav-link {
    text-decoration: none;
    color: #000;
}
.nav-link:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}
.main-doc {
    float: right;
    width: calc(100% - 270px); 
    padding: 0;
    margin: 0;
}
.main-section {
    margin-bottom: 15px;
}
.main-section-title {
    padding: 15px;
    font-weight: 100;
    font-size: 1.75em;
}
.main-section p {
    padding: 15px;
}
.main-section .main-section {
    padding: 15px;
}
.main-section-subtitle {
    padding: 15px;  
    font-weight: 100;
    font-size: 1.3125em;
} 
.wing_chun-img-bg, 
.wing_chun-video-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.wing_chun-img-bg .wing_chun-img,
.wing_chun-video-bg .wing_chun-video {
    padding: 10px;
}
.wing_chun-img-bg code {
    padding: 10px;
    font-size: 0.75em;
}
.main-section ul, .main-section ol {
    padding-left: 45px;
}

@media screen and (max-width: 900px) {
    .navbar {
        position: static;
        width: 100%;
        text-align: center;
    }
    .main-doc {
        float: none;
        width: 100%;
    }
    .menu {
        height: 300px;
        overflow-y: scroll;
        border: 1px solid black;
    }
}

@media screen and (max-width: 600px) {
    .wing_chun-video {
        width: 320px;
        height: 180px;
    }
    .wing_chun-img {
        width: 200px;
    }
}