@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: rgba(0, 0, 0, 0.025);
}
.navbar {
    background-color:rgba(155, 155, 155);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}
.header {
    font-family: 'Vujahday Script', cursive;
    font-size: 2em;
    position: absolute;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header:hover {
    cursor: pointer;
}
.menu {
    position: absolute;
    right: 50px;
    list-style: none;
}
.menu-item {
    display: inline-block;
    margin: 0 10px;
}
.nav-link {
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}
.nav-link:hover {
    color: #0000FF;
}
.main {
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-watch-section {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 500px;
}
.video-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.video {
    margin: 0 9px 15px 9px; 
    max-width: 560px;
    max-height: 315px;
}
.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
}
.videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.left-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid hsl(210, 14%, 3%);
}
.right-arrow {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid hsl(210, 14%, 3%);
}
.left-arrow:hover {
    cursor: pointer;
    border-right: 15px solid hsl(210, 24%, 10%);
}
.right-arrow:hover {
    cursor: pointer;
    border-left: 15px solid hsl(210, 24%, 10%);
}
.video-title {
    font-weight: 600;
    font-size: 1.25em;
}
.back-to-gallery {
    border-radius: 10px;
    border: 0;
    padding: 10px 12.5px;
    margin: 20px auto;
    font-size: 1.25em;
    font-weight: 600;
    background-color: hsl(243, 90%, 33%);
    color: hsl(200, 50%, 98%);
    box-shadow: 0 6.5px hsl(243, 90%, 60%);
}
.back-to-gallery:hover {
    cursor: pointer;
    background-color: hsl(243, 68%, 42%);
}
.back-to-gallery:active {
    box-shadow: 0 3.5px hsl(243, 90%, 60%);
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -o-transform: translateY(3px);
    -moz-transform: translateY(3px);
}
.table-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    background-color: rgb(184, 184, 184);
    border: 5px solid #000000;
    padding: 30px 0;
    margin-bottom: 10px;
}
.video-link {
    text-decoration: none;
}
.img {
    width: 200px;
    height: 115px;
    object-fit: cover;
}
.img:hover {
    cursor: pointer;
}
.fig-caption {
    text-align: center;
    font-size: 0.875em;  /* By default, 1em is equivalent to 16px , and 2em is equivalent to 32px. */
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}
.footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    background-color: rgba(155, 155, 155);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 0;
    line-height: 2.5; 
} 
.follow-me {
    font-weight: 600;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow {
    width: 188px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa {
    font-size: 1.875em;
    text-decoration: none;
    color: #1d1a1a;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

@media screen and (max-width: 800px) {
    .header {
        font-size: 1.5em;
    }
    .videos {
        gap: 10px;
    }
    .table-header {
        font-size: 1.25em;
    }
    .img, .fig-caption {
        width: 88.89px;
    }
    .img {
        height: 51.11px;
    }
    .fig-caption {
        font-size: 0.75em; /* By default, 1em is equivalent to 16px , and 2em is equivalent to 32px. */
    } 
    .follow-me {
        font-size: 0.8em;
    }
    .fa {
        font-size: 1.5625em;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        height: 150px;
        flex-direction: column;
    }
    .header {
        position: static;
        padding: 15px 0;
    }
    .menu {
        position: static;
        width: 100px;
    }
    .menu-item {
        display: block;
        text-align: center;
    }
    .video {
        max-width: 350px;
        max-height: 196.875px;
    }
    .video-watch-section {
        height: 350px;
    }
    .video-bg {
        margin-bottom: 15px
    }
    .video-title {
        font-size: 1em;
    }
    .back-to-gallery {
        font-size: 1em;
    }
}