@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&family=Open+Sans:wght@500&display=swap');

* {
    margin: 0; padding: 0;               
} 
body {
    background-color: rgba(0, 0, 0, 0.15);  
}
.header {
    position: fixed;
    height: 55px;
    padding: 8px 0;         
    background-color: rgb(158, 157, 157); 
    width: 100%;
}
.empty-top {
    height: 71px;
}
.logo-name {
    display: flex; 
    position: absolute;
    left: 50px;
    align-items: center;
}   
.logo-name h1 {
    padding: 5px;
    font-size: 1.5em;
    font-family: 'Great Vibes', cursive;
}
.menu {
    padding: 15px 0;
    position: absolute;
    right: 50px; 
    font-size: 0.95em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    list-style: none;
}
.menu-item {
    display: inline-block;
    padding: 0 20px;  
}
.nav-link {
    text-decoration: none;
    color: #000;
}
.nav-link:hover {
    color: blue;
}
.info-section, .video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    flex-direction: column;
}
.info-header {
    text-align: center;
    width: 500px;
    padding: 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info-part {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img {
    padding: 15px;
}
.info {
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 600px;
}
.pricing-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.pricing-card {
    border: 1px solid black;
    border-radius: 6px;
    margin: 0 15px;
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.plan, .price {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin-bottom: 15px;
}
.pricing-card-button {
    border-radius: 5px;
    border: 0;
    background-color: rgba(19, 122, 122, 0.767);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}
.pricing-card-button:hover {
    background-color: rgba(6, 146, 146, 0.644);
    cursor: pointer;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.email-label {
    text-align: center;
    width: 500px;
}
.label-h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.email, .submit {
    border-radius: 5px;
    border: 0;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.email {
    margin: 20px;
    width: 200px;
    font-size: 0.875em;
}
.submit {
    margin-top: 0;
    width: 100px;
    background-color: rgb(13, 28, 156);
    color: #fff;
    font-size: 0.9375em;
    font-weight: 600;
}
.submit:hover {
    background-color: rgb(34, 54, 230);
    cursor: pointer;
}
.footer {
    padding: 20px 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 700px) {
    .header {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .empty-top {
        height: 166px;
    }
    .logo-name, .menu {
        position: static;
    }
    .menu {
        padding: 0;
    }
    .menu-item {
        display: block;
        margin: 7.5px 0;
    }
    .info-section, .video-section {
        padding: 15px 0;
    }
    .info-header {
        font-size: 1.125em;
        width: 425px;
    }
    .info {
        font-size: 0.85em;
    }
    .img {
        width: 45px;
    }
    .video {
        width: 350px;
        height: 196.875px;
    }
    .pricing-card {
        width: 150px;
        height: 225px;
    }
    .plan, .price {
        font-size: 1em;
    }
    .pricing-card-button {
        font-size: 0.85em;
    }
    .email-label {
        width: 400px;
        font-size: 0.75em;
    }
    .submit {
        width: 90px;
    }
}