@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
.navbar {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgb(39, 1, 99);
    display: flex;
    align-items: center;
}
.nav-menu {
    position: absolute;
    right: 50px;
    list-style: none;
    font-weight: 600;
} 
.nav-menu li {
    display: inline-block;
    margin: 0 15px;
}
.nav-link {
    text-decoration: none;
    color: #FFFFFF;
}
.welcome-section {
    background-color: rgb(48, 42, 42);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    line-height: 2.5;
    font-size: 1.2em;
}
.profile-photo {
    width: 250px;
}
.welcome-header {
    text-align: center;
    width: 150px;
}
.about-me {
    width: 305px; 
} 
.project-section {
    background-color: rgb(93, 74, 177);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.project-header {
    font-size: 1.35em;
    padding: 25px;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.project-link {
    text-align: center; 
    text-decoration: none; 
    color: #FFFFFF;
}
.project-name, .img {
    width: 250px;
}
.img {
    height: 250px;
    object-fit: cover;
}
.footer {
    background-color: rgb(48, 45, 45);
    color: #FFFFFF;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}
.social-icons {
    display: inline-block; 
    font-size: 2em;
}
.fa {
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
}

@media screen and (max-width: 725px) {
    .navbar {
        height: 115px;
        justify-content: center;
    }
    .nav-menu {
        position: static;
        font-size: 0.975em;
    }
    .nav-menu li {
        display: block;
        padding: 5px 0;
    }
    .welcome-section {
        font-size: 0.9em;
    }
    .profile-photo {
        width: 190px;
    }
    .about-me {
        width: 250px;
    } 
    .project-header {
        font-size: 0.8em;
    }
    .projects {
        grid-gap: 10px;
    }
    .welcome-header, .project-name, .img {
        width: 125px;
    }
    .img {
        height: 125px;
        object-fit: cover;
    }  
    .project-name {
        font-size: 0.8em;
    }
    .follow {
        font-size: 1.125em;
    }
    .social-icons {
        font-size: 1.5em;
    }
}

@media screen and (max-height: 500px) {
    .profile-photo {
        width: 80px;
    }
    .welcome-section {
        font-size: 0.6em;
        line-height: 2;
    }
    .welcome-header {
        width: 90px;
    }
    .about-me {
        width: 175px;
    }
} 

@media screen and (max-height: 155px) {
    .about-me {
        visibility: hidden;
    }
}

@media screen and (max-height: 110px) {
    .welcome-header {
        visibility: hidden;
    }
}